@import "tailwindcss";

/*
Spacing System (px)
2/4/8/12/16/24/32/48/64/80/96/128

Font Size System (px)
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
*/

/* Pallet Color */
:root {
}

html {
  font-size: 10px;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
